extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raíces 
        h2.text-center.text-2xl.font-extrabold=pagina

        div(class="shadow-md py-8 px-4 rounded-lg max-w-md mx-auto")
            p(class= error ? "bg-red-300" : "bg-green-300").py-4.px-5.mt-4.rounded-lg.w-full.uppercase.font-bold.text-center.text-sm=mensaje
