extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes
            span.font-normal Raíces 
        h2.text-center.text-2xl.font-extrabold=pagina

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form.space-y-5(method="POST" action="/auth/registro" noValidate)
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="name") Nombre
                        input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tú Nombre" type="text" name="name")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email de registro
                        input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tú Email" type="email" name="email")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Password
                        input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Tú Password" type="password" name="password")
                    div
                        label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repeat_password") Repetir password
                        input#repeat_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Repite tu password" type="password" name="repeat_password")
                    div.flex.items-center.justify-between
                        a.text-gray-500.text-xs(href="/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                        a.text-gray-500.text-xs(href="/auth/recovery") Olvide mi contraseña
                    input(class="w-full bg-indigo-600 hover:bg-indigo- text-white font-bold p-3 cursor-pointer uppercase rounded-md" type="submit" value="Crear Cuenta")